html{
    // --color:rgb(0, 0, 0) ;
    // --back-color:rgb(252, 252, 252);
    --color:rgb(0, 0, 0) ;
    --back-color:#ffffff;   
}
body{
    color: var(--color);
    background: var(--back-color) url('/background/1.jpg') 0 0 / 100vw 100vh no-repeat fixed;
    // 
    
}
a{ color: rgb(58, 45, 167);}
